<header id="header" class="fixed-top d-flex align-items-center  header-transparent ">
    <div class="container d-flex align-items-center">

        <div class="logo mr-auto">
            <!-- <h1 class="text-light"><a href="index.html">Naiti Technologies</a></h1> -->
            <!-- Uncomment below if you prefer to use an image logo -->
            <a href="../index.html"><img src="../assets/img/naitiTechnologies-Logo-w.png" alt="" class="img-fluid"></a>
        </div>

        <nav class="nav-menu d-none d-lg-block">
            <ul>
                <li class="active"><a href="https://naititechnologies.com#hero">Home</a></li>
                <li><a href="https://naititechnologies.com#about">About</a></li>
                <li><a href="https://naititechnologies.com#services">Services</a></li>
                <li><a href="https://naititechnologies.com#portfolio">Portfolio</a></li>
                <li><a href="https://naititechnologies.com#testimonials">Reviews</a></li>              
                <li><a href="https://naititechnologies.com#contact">Contact</a></li>

            </ul>
        </nav><!-- .nav-menu -->

    </div>
</header><!-- End Header -->